/* App.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8; /* Color de fondo suave */
  }
  
  .container {
    background-color: #fff; /* Fondo de la caja */
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 30px;
    max-width: 400px; /* Ancho máximo de la caja */
    width: 100%;
  }
  
  .App {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
  }
  
  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #555; 
  }
  
  input {
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  input:focus {
    outline: none;
    border-color: #66cdaa; /* Cambio de color al enfocar */
  }
  
  button {
    padding: 12px 24px;
    background-color: #66cdaa; /* Verde agua */
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #20b2aa; /* Verde mar */
  }
  #card {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #555; 
  }
  #error {
    color: #e63946; /* Rojo oscuro */
    margin-top: 10px;
  }
  